* {
    box-sizing: border-box;

}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: #808080;
    overflow: hidden;
}

.task-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 80px;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: calc(100vh - 40px);
    max-height: 800px;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 6px;
}

.task-board__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-width: none;

}

.task-board__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    row-gap: 20px;
    padding: 0 8vw;
}


.task-board__equation-row {
    display: flex;
    font-size: 24px;
    color: #333;
    text-align: right;
}

.task-board__equation-input {
    font-size: 24px;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: start;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

.task-board__equation-input.error {
    color: #FA8072 !important;
    border-color: #FA8072;
}



.task-board__equation-input.success-active {
    border-color: #A9A9A9 !important;
}


.task-board__button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 0;
}

.task-board__button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

.task-board__button:hover:not(:disabled):not(.wrong):not(.right) {
    background-color: #AFEEEE;
}

.task-board__button.active {
    background-color: #2DABA6;
}

.task-board__button.right {
    background-color: #228B22;
}

.task-board__button.wrong {
    background-color: #FA8072;
}

.task-board__cube-row {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-self: end;
}

.task-board__cube {
    width: 30px;
    height: 30px;
    background-color: #90EE90;
    opacity: 0;
    transform: translateY(100vh);
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease-out;
}

.task-board__cube.visible {
    opacity: 1;
    transform: translateY(0);
}